body {
    background-color: #fefefe;
    font: 1em/1.4 Calibri, sans-serif;
    font-size: 1em;
    font-size: calc((18 - 16)/640 * 100vw + (16 - (18 - 16)/2) * 1rem/16);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

footer.doc {
    border-top: 2px dotted blue;
}

#stage {
  width: 1480px;
  height: 820px;
  position: relative;
  border: 2px solid black;
}


#ui-layer {
  z-index: 3;
  margin: auto auto;
}

#game-layer {
  z-index: 2;

}

#background-layer {
  z-index: 1;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1400px;
    
}